body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carre {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: rotation 4s infinite linear, ChangementDeCouleur 4s infinite;
}

/*Pour que le carré tourne dans le sens des aiguilles d'une montre*/
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*Pour que le carré change de couleur*/
@keyframes ChangementDeCouleur {
    0% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}
